.footerContainer {
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to top, $redColor, $blackColor);
    .icons {
        font-size: 3rem;
        color: $whiteColor;
        padding-right: 1rem;
        &:hover{
            color: $blackColor;
        }
    }
    .imgFooterCampa {
        min-width: 7rem;
        min-height: 6.5rem;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/campa.png?alt=media&token=868f5a51-f8ae-44e1-ab89-f4e21e46d6af);
        &:hover{
            background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/campaNegro.png?alt=media&token=72ec7a9a-489e-4b6c-a6d1-7dbe4badca09);
        }
    }
    .sponsorFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgFooterKappa{
            margin-top: 1rem;
            width: 6.5rem;
            height: 3.5rem;
            background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/kappa.png?alt=media&token=b4d282a7-e080-46a4-8bb4-3b5f078d28fd);
            &:hover{
                background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/kappaNegro.png?alt=media&token=2eaa8105-4935-48e6-b891-1edbbef64606);
            }
        }
    }    
}
