.footerContainer {
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to top, $redColor, $blackColor);
    .icons {
        font-size: 3rem;
        color: $whiteColor;
        padding-right: 1rem;
        &:hover{
            color: $blackColor;
        }
    }
    .imgFooterCampa {
        min-width: 7rem;
        min-height: 6.5rem;
        background-image: url(./images/campa.png);
        &:hover{
            background-image: url(./images/campaNegro.png);
        }
    }
    .sponsorFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgFooterKappa{
            margin-top: 1rem;
            width: 6.5rem;
            height: 3.5rem;
            background-image: url(./images/kappa.png);
            &:hover{
                background-image: url(./images/kappaNegro.png);
            }
        }
    }    
}
