.proximoPartido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: outset 0.2rem;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/pastoSintetico.jpg?alt=media&token=6f557d0d-e1e6-4e65-8cce-765fa0eb0db4);
    animation-name: zoom;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    a{
        text-decoration: none;
        color: $whiteColor;
        .titularSecundario:hover{
        transition: font-size 0.5s;
        font-size: 2.5rem;
        }
    }
}
.imgEscudo{
    max-width: 5rem;
}
.vs {
    display: flex;
    align-items: center;
    justify-content: center;
}