.body{
    .navBar{
        height: 3rem;
        font-weight: 500;
        background-color: $greenColor;
        .me-auto{
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
        }
        .bg-NavBar{
            background-color:$greenColor;
        }
        .nav-link{
            color: $blackColor;
            &:hover{
                color: $whiteColor !important;
            }
        }
        .active{
            color: $whiteColor !important;
        }
    }
}
