.courierContainer{
    display: flex;
    justify-content: center;
    .courierImg{
        max-width: 80%;
    }
}
.trackingContainer{
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .trackingItem{
        display: flex;
        align-items: center;
        padding:1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        .trackingSpan{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            margin-right:1rem;
            border-radius: 50%;
            border: 0.1rem grey solid;
            .path{
                fill: white;
            }
        }
        .isChecked{
            display: flex;
            border-color: $greenColor;
            background-color: $greenColor;
            .checkedIcon{
                max-width: 100%;
            }
        }
    }
}
.trackingId{
    color: $greenColor;
}
