@import "variables";
@import "mixins";
@import "structure";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import "navBar";
@import "home";
@import "jugadores";
@import "footer";
@import "header";
@import "fixture";
@import "goles";
@import "nosotros";
@import "tienda";
@import "loading";

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(0.97);
    }
    
    100% {
        transform: scale(1);
    }
}






