* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; }

.body {
    font-size: 62.5%; 
    background-color: #212121;
    color: white;
    .header{
        color: white;
        background-image: linear-gradient(to top, #212121, #fa4659);
        .logo{
            max-width: 7.5rem;
        }
        .titulo{
            font-size: 4.5rem;
        }
    }
    
    a{
        text-decoration: none;
        color: #212121;
        font-size: 1.7rem;
    }
    .navBar{
        .me-auto{
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
        }
        background-color: #2eb872;
        .activePage{
            color: white;
        }
        .cartLogo{
            min-width: 2rem;
            max-height: 2.5rem;
        }
    }
    
    .itemCount{
        background-color: #2eb872;
        width: 16rem;
        .quantityButtonContainer{
            width: 15rem;
            border: #2eb872 solid 0.1rem;
            .quantityButton{
                height: 1.3rem;
                width: 1.3rem;
                margin: 0.5rem 0rem;
            }
        }
        .AddToCartButton{
            width: 15rem;
            padding: 0.3rem;
            margin: 0.2rem;
        }
    }
    
    .productList{
        justify-content: center;
        .product{
            width: 20rem;
            border: #2eb872 solid 0.1rem;
            margin: 0.5rem;
            .productName{
                width: 100%;
                height: 2.7rem;
                color: white;
                background-color: #2eb872;
                border-bottom: #2eb872 solid 0.1rem;
                font-size: 1.5rem;
                text-align: center;
            }
            .productPrice{
                font-size: 1rem;
            }
            .viewDetails{
                margin: 1rem;
                padding: 0.4rem 0.8rem;
                font-weight: 700;
                font-size: 1rem;
                width: 8rem;
                border-color:white;
                background-color: white;
                border-radius: 0.5rem;
                cursor: pointer;
                &:hover{
                    color: white;  
                    background-color: #2eb872;
                    transition: 300ms linear;
                }
            }
            .stock{
                width: 100%;
                border-top: 0.1rem #2eb872 solid;
                background-color: #2eb872;
                text-align: center;
            }
        }
    }
}

.productImage{
    max-width: 18rem;
    height: 10rem;
    }

.itemDetailContainer{
    margin: 1rem;
}

.buttonReturn{
    margin: 1rem;
    padding: 0.4rem 0.8rem;
    border-color:white;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    &:hover{
        color: white;  
        border-color: white;
        background-color: #212121;
        transition: 300ms linear;
    }
}

.footerContainer {
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to top, #fa4659, #212121);
    .imgFooterCampa {
        min-width: 7rem;
        min-height: 6.5rem;
        background-image: url(./images/campa.png);
        &:hover{
            background-image: url(./images/campaNegro.png);
        }
    }
    .imgFooterKappa{
        margin-top: 1rem;
        width: 6.5rem;
        height: 3.5rem;
        background-image: url(./images/kappa.png);
        &:hover{
            background-image: url(./images/kappaNegro.png);
        }
    }
    .iconos {
        font-size: 3rem;
        color: white;
        padding-right: 1rem;
        &:hover{
            color: #212121;
        }
    }
    .patrocinadorFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.bg-NavBar{
    background-color:#2eb872;
}
