@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body {
  font-size: 62.5%;
  background-color: #212121;
  color: #ffffff; }
  .body a {
    text-decoration: none;
    color: #212121;
    font-size: 1.7rem; }

.bordeRedondeado {
  width: 100%;
  border-radius: 10%; }

.titular {
  font-weight: 600;
  padding-bottom: 1rem;
  text-align: center; }

.titularSecundario {
  padding-top: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center; }

th {
  border: 0.1rem solid #212121;
  padding: 0.5rem;
  text-align: center; }

td {
  border: 0.1rem solid #212121;
  padding: 0.5rem;
  text-align: start; }

.fondo {
  background-color: #2eb872;
  border: solid #212121 0.1rem; }

.buttonReturn {
  font-weight: 700;
  font-size: 1rem;
  color: #212121;
  border-color: #ffffff;
  background-color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
  padding: 0.4rem 0.8rem; }
  .buttonReturn:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #212121;
    transition: 300ms linear; }

.buttonDeleteItem {
  font-weight: 700;
  font-size: 1rem;
  color: #fa4659;
  border-color: #fa4659;
  background-color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.4rem; }
  .buttonDeleteItem:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #fa4659;
    transition: 300ms linear; }

.buttonPay {
  font-weight: 700;
  font-size: 1rem;
  color: #2eb872;
  border-color: #2eb872;
  background-color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.4rem; }
  .buttonPay:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #2eb872;
    transition: 300ms linear; }

.body .navBar {
  height: 3rem;
  font-weight: 500;
  background-color: #2eb872; }
  .body .navBar .me-auto {
    width: 100%;
    justify-content: space-evenly;
    align-items: center; }
  .body .navBar .bg-NavBar {
    background-color: #2eb872; }
  .body .navBar .nav-link {
    color: #212121; }
    .body .navBar .nav-link:hover {
      color: #ffffff !important; }
  .body .navBar .active {
    color: #ffffff !important; }

.proximoPartido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: outset 0.2rem;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/pastoSintetico.jpg?alt=media&token=6f557d0d-e1e6-4e65-8cce-765fa0eb0db4);
  animation-name: zoom;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s; }
  .proximoPartido a {
    text-decoration: none;
    color: #ffffff; }
    .proximoPartido a .titularSecundario:hover {
      transition: font-size 0.5s;
      font-size: 2.5rem; }

.imgEscudo {
  max-width: 5rem; }

.vs {
  display: flex;
  align-items: center;
  justify-content: center; }

.playerData {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 1rem; }

.playerDataContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  column-gap: 1rem; }

.yellowCard {
  color: yellow; }

.redCard {
  color: red; }

.allPlayers {
  background-color: #212121;
  color: #ffffff; }

.player {
  background-color: #fa4659; }

.accordion-button {
  background-color: #212121;
  color: #ffffff; }
  .accordion-button:not(.collapsed) {
    background-color: #212121;
    color: #ffffff; }

.jugadorImagen1 {
  background-image: url(./images/jugador-1.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen1:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen2 {
  background-image: url(./images/jugador-2.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen2:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen3 {
  background-image: url(./images/jugador-3.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen3:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen4 {
  background-image: url(./images/jugador-4.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen4:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen5 {
  background-image: url(./images/jugador-5.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen5:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen6 {
  background-image: url(./images/jugador-6.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen6:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen7 {
  background-image: url(./images/jugador-7.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen7:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen8 {
  background-image: url(./images/jugador-8.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen8:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen9 {
  background-image: url(./images/jugador-9.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen9:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen10 {
  background-image: url(./images/jugador-10.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen10:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen11 {
  background-image: url(./images/jugador-11.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen11:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen12 {
  background-image: url(./images/jugador-12.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen12:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen13 {
  background-image: url(./images/jugador-13.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen13:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen14 {
  background-image: url(./images/jugador-14.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen14:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen15 {
  background-image: url(./images/jugador-15.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen15:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen16 {
  background-image: url(./images/jugador-16.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen16:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen17 {
  background-image: url(./images/jugador-17.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen17:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen18 {
  background-image: url(./images/jugador-18.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen18:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen19 {
  background-image: url(./images/jugador-19.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen19:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen20 {
  background-image: url(./images/jugador-20.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen20:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen21 {
  background-image: url(./images/jugador-21.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen21:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen22 {
  background-image: url(./images/jugador-22.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen22:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen23 {
  background-image: url(./images/jugador-23.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen23:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen24 {
  background-image: url(./images/jugador-24.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen24:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.jugadorImagen25 {
  background-image: url(./images/jugador-25.jpg);
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: transform 200ms; }
  .jugadorImagen25:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer; }

.dropdown-menu {
  background-color: #2eb872; }
  .dropdown-menu :hover {
    background-color: #2eb872;
    color: #ffffff; }

.accordion-button::after {
  background-image: url("../src/images/flecha.png"); }

.accordion-button:not(.collapsed)::after {
  background-image: url("../src/images/flecha.png"); }

.accordion-button:focus {
  border-color: #fa4659;
  box-shadow: 0 0 0 0.1rem rgba(250, 70, 89, 0.6); }

.footerContainer {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to top, #fa4659, #212121); }
  .footerContainer .icons {
    font-size: 3rem;
    color: #ffffff;
    padding-right: 1rem; }
    .footerContainer .icons:hover {
      color: #212121; }
  .footerContainer .imgFooterCampa {
    min-width: 7rem;
    min-height: 6.5rem;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/campa.png?alt=media&token=868f5a51-f8ae-44e1-ab89-f4e21e46d6af); }
    .footerContainer .imgFooterCampa:hover {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/campaNegro.png?alt=media&token=72ec7a9a-489e-4b6c-a6d1-7dbe4badca09); }
  .footerContainer .sponsorFlex {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footerContainer .sponsorFlex .imgFooterKappa {
      margin-top: 1rem;
      width: 6.5rem;
      height: 3.5rem;
      background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/kappa.png?alt=media&token=b4d282a7-e080-46a4-8bb4-3b5f078d28fd); }
      .footerContainer .sponsorFlex .imgFooterKappa:hover {
        background-image: url(https://firebasestorage.googleapis.com/v0/b/projectofinalreactjs.appspot.com/o/kappaNegro.png?alt=media&token=2eaa8105-4935-48e6-b891-1edbbef64606); }

.header {
  color: #ffffff;
  background-image: linear-gradient(to top, #212121, #fa4659); }
  .header .logo {
    max-width: 7.5rem; }
  .header .titulo {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem; }

.fixture {
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr;
  grid-template-rows: repeat(11, 1fr);
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .fixture .fixtureFecha {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "fecha fecha fecha fecha fecha" "gifLocal equipoLocal resultado equipoVisitante gifVisitante";
    align-items: center;
    column-gap: 5rem;
    justify-content: center;
    border: #ffffff dotted 0.1rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-image: radial-gradient(#2eb872, #212121);
    max-width: 70vw;
    transition: transform 0.5s; }
    .fixture .fixtureFecha:hover {
      transform: scale(1.1); }
    .fixture .fixtureFecha .fecha {
      grid-area: fecha; }
    .fixture .fixtureFecha .gifLocal {
      grid-area: gifLocal; }
    .fixture .fixtureFecha .equipoLocal {
      grid-area: equipoLocal; }
    .fixture .fixtureFecha .resultado {
      grid-area: resultado; }
    .fixture .fixtureFecha .equipoVisitante {
      grid-area: equipoVisitante; }
    .fixture .fixtureFecha .gifVisitante {
      grid-area: gifVisitante; }

.imgEscudo {
  max-width: 5rem; }

.gridPadreGoles {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr;
  grid-row: repeat(2, auto);
  grid-template-areas: "goleadores maximasGoleadas penales" "dobletes hattricks poker";
  padding: 2rem 1rem;
  justify-content: space-evenly;
  column-gap: 2rem;
  justify-items: center;
  text-align: center;
  row-gap: 2rem;
  font-size: 1rem; }
  .gridPadreGoles .goleadores {
    grid-area: goleadores; }
  .gridPadreGoles .primerGol {
    grid-area: primerGol; }
  .gridPadreGoles .maximasGoleadas {
    grid-area: maximasGoleadas; }
    .gridPadreGoles .maximasGoleadas .aFavor {
      color: green;
      text-shadow: 1px 1px black;
      text-align: center; }
    .gridPadreGoles .maximasGoleadas .enContra {
      color: #fa4659;
      text-shadow: 1px 1px black;
      text-align: center; }
  .gridPadreGoles .penales {
    grid-area: penales; }
  .gridPadreGoles .dobletes {
    grid-area: dobletes; }
  .gridPadreGoles .hattricks {
    grid-area: hattricks; }
  .gridPadreGoles .poker {
    grid-area: poker; }

.gridPadreNosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 3rem;
  justify-items: center; }
  .gridPadreNosotros .information {
    font-size: 1rem;
    padding: 1rem;
    background-color: rgba(46, 184, 114, 0.5);
    margin: 1rem; }
  .gridPadreNosotros .gridGaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1rem;
    row-gap: 1rem; }
    .gridPadreNosotros .gridGaleria .animacionGaleria {
      transition: transform 0.5s; }
      .gridPadreNosotros .gridGaleria .animacionGaleria:hover {
        transform: scale(1.1);
        cursor: pointer; }
  .gridPadreNosotros form {
    width: 100%;
    padding: 1.6rem;
    border-radius: 1rem;
    background-color: #fa4659; }
    .gridPadreNosotros form .label {
      width: fit-content;
      padding-right: 1.6rem;
      font-weight: bold;
      display: inline-block; }
    .gridPadreNosotros form .input {
      width: 18rem;
      margin: 1rem 0.2rem;
      display: inline-block; }
    .gridPadreNosotros form .enviar {
      font-weight: 600;
      font-size: 1rem;
      color: #212121;
      border-color: #ffffff;
      background-color: #ffffff;
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;
      padding: 0.8rem 11.6rem;
      margin-top: 3.2rem;
      display: block; }
      .gridPadreNosotros form .enviar:hover {
        color: #ffffff;
        border-color: #ffffff;
        background-color: #212121;
        transition: 300ms linear; }
    .gridPadreNosotros form .cursor:hover {
      cursor: pointer; }
    .gridPadreNosotros form textarea {
      width: 100%;
      height: 10rem;
      border: 0.2rem solid #ffffff;
      border-radius: 0.5rem;
      background-color: #ffffff;
      margin: 0.8rem 0rem;
      resize: none;
      display: block; }

.messageSent {
  margin: 2rem;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: #fa4659; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 40%; }

.categoryButton {
  margin: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  background-color: #2eb872; }
  .categoryButton:hover {
    color: #2eb872;
    border-color: #2eb872;
    background-color: #212121;
    transition: 300ms linear; }
  .categoryButton a {
    font-size: 1.3rem; }
    .categoryButton a:hover {
      color: #2eb872; }

.itemCount {
  background-color: #2eb872;
  width: 16rem;
  border-radius: 2rem; }
  .itemCount .quantityButtonContainer {
    width: 8rem;
    border: #2eb872 solid 0.1rem; }
    .itemCount .quantityButtonContainer .quantityButton {
      border-radius: 0.3rem;
      height: 1.3rem;
      width: 1.3rem;
      margin: 0.5rem 0rem; }

.productList {
  justify-content: center; }
  .productList .product {
    width: 20rem;
    border: #2eb872 solid 0.3rem;
    border-radius: 1.7rem;
    box-shadow: 0px 0px 3px 3px rgba(46, 184, 114, 0.7);
    margin: 1.5rem; }
    .productList .product .productName {
      width: 101%;
      height: 2.8rem;
      border-top-left-radius: 1.3rem;
      border-top-right-radius: 1.3rem;
      color: #ffffff;
      background-color: #2eb872;
      border-bottom: #2eb872 solid 0.1rem;
      font-size: 1.5rem;
      text-align: center; }
    .productList .product .productPrice {
      font-size: 1rem; }
    .productList .product .viewDetails {
      font-weight: 700;
      font-size: 1rem;
      color: #212121;
      border-color: #ffffff;
      background-color: #ffffff;
      border-radius: 0.5rem;
      cursor: pointer;
      margin: 1rem;
      padding: 0.4rem 0.8rem;
      width: 8rem; }
      .productList .product .viewDetails:hover {
        color: #ffffff;
        border-color: #2eb872;
        background-color: #2eb872;
        transition: 300ms linear; }
    .productList .product .stock {
      width: 100%;
      border-bottom-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      background-color: #2eb872;
      text-align: center; }

.productImage {
  max-width: 18rem;
  height: 10rem;
  border-radius: 2rem; }

.itemDetailContainer {
  margin: 1rem; }
  .itemDetailContainer .itemDetail {
    width: fit-content;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px rgba(250, 70, 89, 0.7); }
    .itemDetailContainer .itemDetail .selectSize {
      font-size: 1rem; }
    .itemDetailContainer .itemDetail .AddToCartButton {
      margin-bottom: 0.5rem;
      padding: 0.4rem 0.8rem;
      font-weight: 700;
      font-size: 1rem;
      width: 15rem;
      border-color: #ffffff;
      background-color: #ffffff;
      border-radius: 0.5rem; }
      .itemDetailContainer .itemDetail .AddToCartButton[disabled]:hover {
        color: #10103d4d; }
      .itemDetailContainer .itemDetail .AddToCartButton:hover {
        color: #2eb872;
        background-color: #ffffff;
        transition: 300ms linear; }

.productInCart {
  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #fa4659;
  align-items: center; }

.warning {
  font-size: 0.7rem;
  font-weight: 600;
  color: #fa4659;
  margin-bottom: 0; }

.outOfStock {
  height: fit-content;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fa4659;
  margin-top: 3rem; }
  .outOfStock .title {
    font-size: 1.3rem;
    font-weight: 600; }
  .outOfStock .items {
    font-size: 1rem;
    font-weight: normal; }

.followOrderContainer {
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem; }
  .followOrderContainer .followOrder {
    width: 50%;
    text-align: center; }
    .followOrderContainer .followOrder .inputOrderNumber {
      height: 2.3rem;
      width: 12rem;
      padding: 0.2rem;
      margin-right: 2rem;
      margin-left: 3.5rem;
      border-radius: 0.5rem;
      border-color: #212121; }

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* Text */
.loading-text {
  margin: 2rem;
  font-size: 2rem; }
  .loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #fff; }
    .loading-text span:nth-child(1) {
      filter: blur(0px);
      animation: blur-text 1s 0s infinite linear alternate; }
    .loading-text span:nth-child(2) {
      filter: blur(0px);
      animation: blur-text 1s 0.2s infinite linear alternate; }
    .loading-text span:nth-child(3) {
      filter: blur(0px);
      animation: blur-text 1s 0.4s infinite linear alternate; }
    .loading-text span:nth-child(4) {
      filter: blur(0px);
      animation: blur-text 1s 0.6s infinite linear alternate; }
    .loading-text span:nth-child(5) {
      filter: blur(0px);
      animation: blur-text 1s 0.8s infinite linear alternate; }
    .loading-text span:nth-child(6) {
      filter: blur(0px);
      animation: blur-text 1s 1s infinite linear alternate; }
    .loading-text span:nth-child(7) {
      filter: blur(0px);
      animation: blur-text 1s 1.2s infinite linear alternate; }
    .loading-text span:nth-child(8) {
      filter: blur(0px);
      animation: blur-text 1s 1.4s infinite linear alternate; }

@keyframes blur-text {
  0% {
    filter: blur(0px); }
  100% {
    filter: blur(4px); } }

/* Triangles */
.loading-wrap {
  width: 60px;
  height: 60px;
  margin-top: 2rem;
  background: #2eb872;
  border-radius: 30px;
  animation: rotation ease-in-out 2s infinite; }

.triangle1,
.triangle2,
.triangle3 {
  border-width: 0 20px 30px 20px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #fa4659;
  height: 0;
  width: 0;
  position: absolute;
  left: 10px;
  top: -10px;
  animation: fadecolor 2s 1s infinite; }

.triangle2,
.triangle3 {
  content: '';
  top: 20px;
  left: 30px;
  animation-delay: 1.1s; }

.triangle3 {
  left: -10px;
  animation-delay: 1.2s; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes fadecolor {
  0% {
    border-bottom-color: #2eb872; }
  100% {
    border-bottom-color: #fa4659; } }

form {
  width: 100%;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: #fa4659; }
  form .label {
    width: fit-content;
    padding-right: 1.6rem;
    font-weight: bold;
    display: inline-block; }
  form .input {
    width: 18rem;
    margin: 1rem 0.2rem;
    display: inline-block; }
  form .enviar {
    font-weight: 600;
    font-size: 1rem;
    color: #212121;
    border-color: #ffffff;
    background-color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    padding: 0.8rem 11.6rem;
    margin-top: 3.2rem;
    display: block; }
    form .enviar:hover {
      color: #ffffff;
      border-color: #ffffff;
      background-color: #212121;
      transition: 300ms linear; }
  form .cursor:hover {
    cursor: pointer; }
  form textarea {
    width: 100%;
    height: 10rem;
    border: 0.2rem solid #ffffff;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin: 0.8rem 0rem;
    resize: none;
    display: block; }

.checkoutForm {
  width: 50%; }

.courierContainer {
  display: flex;
  justify-content: center; }
  .courierContainer .courierImg {
    max-width: 80%; }

.trackingContainer {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .trackingContainer .trackingItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem; }
    .trackingContainer .trackingItem .trackingSpan {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      border-radius: 50%;
      border: 0.1rem grey solid; }
      .trackingContainer .trackingItem .trackingSpan .path {
        fill: white; }
    .trackingContainer .trackingItem .isChecked {
      display: flex;
      border-color: #2eb872;
      background-color: #2eb872; }
      .trackingContainer .trackingItem .isChecked .checkedIcon {
        max-width: 100%; }

.trackingId {
  color: #2eb872; }

@keyframes zoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.97); }
  100% {
    transform: scale(1); } }
