* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body {
  font-size: 62.5%;
  background-color: #212121;
  color: white; }
  .body .header {
    color: white;
    background-image: linear-gradient(to top, #212121, #fa4659); }
    .body .header .logo {
      max-width: 7.5rem; }
    .body .header .titulo {
      font-size: 4.5rem; }
  .body a {
    text-decoration: none;
    color: #212121;
    font-size: 1.7rem; }
  .body .navBar {
    background-color: #2eb872; }
    .body .navBar .me-auto {
      width: 100%;
      justify-content: space-evenly;
      align-items: center; }
    .body .navBar .activePage {
      color: white; }
    .body .navBar .cartLogo {
      min-width: 2rem;
      max-height: 2.5rem; }
  .body .itemCount {
    background-color: #2eb872;
    width: 16rem;
    border-radius: 2rem; }
    .body .itemCount .quantityButtonContainer {
      width: 15rem;
      border: #2eb872 solid 0.1rem; }
      .body .itemCount .quantityButtonContainer .quantityButton {
        border-radius: 0.3rem;
        height: 1.3rem;
        width: 1.3rem;
        margin: 0.5rem 0rem; }
    .body .itemCount .AddToCartButton {
      margin-bottom: 0.5rem;
      padding: 0.4rem 0.8rem;
      font-weight: 700;
      font-size: 1rem;
      width: 15rem;
      border-color: white;
      background-color: white;
      border-radius: 0.5rem;
      cursor: pointer; }
      .body .itemCount .AddToCartButton:hover {
        color: #2eb872;
        background-color: white;
        transition: 300ms linear; }
  .body .productList {
    justify-content: center; }
    .body .productList .product {
      width: 20rem;
      border: #2eb872 solid 0.3rem;
      border-radius: 1.7rem;
      box-shadow: 0px 0px 3px 3px rgba(46, 184, 114, 0.7);
      margin: 1.5rem; }
      .body .productList .product .productName {
        width: 101%;
        height: 2.8rem;
        border-top-left-radius: 1.3rem;
        border-top-right-radius: 1.3rem;
        color: white;
        background-color: #2eb872;
        border-bottom: #2eb872 solid 0.1rem;
        font-size: 1.5rem;
        text-align: center; }
      .body .productList .product .productPrice {
        font-size: 1rem; }
      .body .productList .product .viewDetails {
        margin: 1rem;
        padding: 0.4rem 0.8rem;
        font-weight: 700;
        font-size: 1rem;
        width: 8rem;
        border-color: white;
        background-color: white;
        border-radius: 0.5rem;
        cursor: pointer; }
        .body .productList .product .viewDetails:hover {
          color: white;
          background-color: #2eb872;
          transition: 300ms linear; }
      .body .productList .product .stock {
        width: 100%;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        background-color: #2eb872;
        text-align: center; }

.productImage {
  max-width: 18rem;
  height: 10rem;
  border-radius: 2rem; }

.itemDetailContainer {
  margin: 1rem; }
  .itemDetailContainer .itemDetail {
    width: fit-content;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px rgba(250, 70, 89, 0.7); }

.buttonReturn {
  margin: 1rem;
  padding: 0.4rem 0.8rem;
  border-color: white;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem; }
  .buttonReturn:hover {
    color: white;
    border-color: white;
    background-color: #212121;
    transition: 300ms linear; }

.footerContainer {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to top, #fa4659, #212121); }
  .footerContainer .imgFooterCampa {
    min-width: 7rem;
    min-height: 6.5rem;
    background-image: url(./images/campa.png); }
    .footerContainer .imgFooterCampa:hover {
      background-image: url(./images/campaNegro.png); }
  .footerContainer .imgFooterKappa {
    margin-top: 1rem;
    width: 6.5rem;
    height: 3.5rem;
    background-image: url(./images/kappa.png); }
    .footerContainer .imgFooterKappa:hover {
      background-image: url(./images/kappaNegro.png); }
  .footerContainer .iconos {
    font-size: 3rem;
    color: white;
    padding-right: 1rem; }
    .footerContainer .iconos:hover {
      color: #212121; }
  .footerContainer .patrocinadorFlex {
    display: flex;
    flex-direction: column;
    align-items: center; }

.bg-NavBar {
  background-color: #2eb872; }
